@font-face {
  font-family: 'chalkiezregular';
    src: url('../fonts/chalkiez/chalkiez-regular-webfont.woff2') format('woff2'),
         url('../fonts/chalkiez/chalkiez-regular-webfont.woff') format('woff'),
         url('../fonts/chalkiez/chalkiez-regular-webfont.ttf') format('ttf'),
         url('../fonts/chalkiez/chalkiez-regular-webfont.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}


* {
  box-sizing: border-box;
}

body {
  background-color: skyblue;
  color: #0a53be;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  main {
    flex-grow: 1;
  }
}

h1 {
  font-family: chalkiezregular, sans-serif;
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  margin: 1rem 0;
}

@mixin formStyle {
  max-width: 900px;
}

.globalForm {
  @include formStyle;
  margin-top: 2rem;

  form {
    color: black;
  }

  button {
    display: block;
    margin: auto;
  }
}