{% extends 'baseNoNavBar.html.twig' %}

{% block title %}New Message{% endblock %}

{% block body %}

    <main {{ stimulus_controller('count-character') }} class="container-md messageNew">

        <div class="globalForm">
            <h1>Envoie ton message</h1>

            {{ include('message/_form.html.twig') }}

        </div>


    </main>

{% endblock %}
