{% extends 'base.html.twig' %}


{% block title %}Livre d'Or{% endblock %}

{% block body %}
    <main id="board" class="">

        <div {{ stimulus_controller('run-message') }}></div>

        <button class="btn btn-primary" id="start-stop-btn">Start</button>
        <div id="message-area">

        </div>
    </main>

{% endblock %}

