{% extends 'baseNoNavBar.html.twig' %}


{% block title %}Livre d'Or{% endblock %}

{% block body %}
    <main {{ stimulus_controller('run-message') }} class="runMessage" id="blackboard">

        <h1 class="titleBoard">Bla bla bla</h1>


    </main>

{% endblock %}

